* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.absolute-center {
  color: #181818;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.title {
  font-size: 3rem;
  top: 3%;
}

.lead {
  font-size: 1rem;
  top: 14%;
  text-align: center;
}

.lead p,
.footer p {
  display: inline-block;
  text-align: left;
  padding-left: 50%;
  margin: 0;
}

.footer {
  font-size: 1rem;
  bottom: 5%;
  text-align: center;
}

.command {
  font-size: 1.5rem;
  bottom: 15%;
  color: #8758FF;
}

/* Media Queries for smaller screens */
@media screen and (max-width: 760px) {
  .absolute-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
  }

  .title {
    font-size: 1.5rem;
    top: 5%;
  }

  .lead {
    font-size: 0.8rem;
    top: 14%;
    width: 90%;
  }

  .command {
    font-size: 1.2rem;
    top: 80%;
  }

  .footer {
    font-size: 0.5rem;
    top: 95%;
  }
}

a {
  color: #8758FF; /* Default color */
  text-decoration: none; Remove underline
  transition: color 0.3s ease; /* Smooth transition for color change */
}

a:hover {
  color: #5CB8E4; /* Color on hover */
}